//Color scheme of the site
$footer-color: #130a01;
$emphasize-color: #4c808b; //rgb(76,128,139)
$bar-color: #839aa2;
$back-color: #fefff9;

//Media queries

//General styles
body {
	background-color: $back-color;
	font-family: Lora, serif;
}

h1 {
	font: 28px/48px "Yeseva One", Arial, Helvetica, sans-serif;
	display: block;
	border-bottom: 1px solid $emphasize-color;
	margin-bottom: 10px;
}

section {
	padding: 0 30px;
	margin-bottom: 20px;
	&:after {
		content: "";
		clear: both;
		display: block;
	}
}

//Styles for sections
.menu {
	background-color: $footer-color;
	border-bottom: 1px solid $emphasize-color;
	height: 40px;
	display: flex;
	justify-content: space-around;
	box-shadow: inset 0px 1px 10px 1px $emphasize-color;
	&__item {
		color: $emphasize-color;
		font: 18px/40px "Didact Gothic", Arial, Helvetica, sans-serif;
		text-decoration: none;
		padding: 6px 20px;
		&:hover{
			color: $back-color;
			background: $emphasize-color;
			border-radius: 6px;
		}
	}
}

.article {
	& p {
		padding: 5px 0;
	}
	&__image_left{
		float: left;
	}
	&__image_right{
		float: right;
	}
	&__blockquote {
		margin: 10px 0;
		padding: 10px 0;
		text-align: center;
		background-color: rgba(76,128,139,.2);
	}
}

.faq {
	&__question {
		margin-top: 10px;
		font-weight: 600;
	}
	&__answer {
		margin-left: 20px;
	}
}

.contacts {
	&__map {
		display: inline-block;
	}
	&__info {
		display: inline-block;
		list-style-type: none;
	}
}

.stay-in {
	&__call{
		text-align: center;
	}
	&__form{
		display: block;
		margin: 10px auto;
		font: 16px "Didact Gothic", Arial, Helvetica, sans-serif;
		&__input{
			height: 30px;
			width: 300px;
			border-radius: 5px 0px 0px 5px;
			border: 1px solid black;
			box-sizing: border-box;
			padding-left: 10px;
		}
		&__button {
			height: 30px;
			border: 1px solid $emphasize-color;
			border-radius: 0px 5px 5px 0px;
			background-color: $emphasize-color;
			color: white;
			&:hover {
				background-color: $footer-color;
				border: 1px solid $footer-color;
			}
		}
	}
}

.footer {
	background: $footer-color;
	color: $back-color;
	height: 100px;
	display: flex;
	padding: 20px 10px;
	justify-content: space-between;
	font: 16px "Didact Gothic", Arial, Helvetica, sans-serif;
	&__menu {
		display: flex;
		justify-content: space-around;
		&__item {
			text-decoration: none;
			color: $bar-color;
			padding: 0 10px;
			&:hover {
				color: white;
			}
		}
	}
}

